  @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
  * {
      margin: 0;
      padding: 0;
  }
  /*section fortalezas y debilidades*/
  
  .sectionfd {
      display: inline-block;
      background-color: hsl(0, 0%, 95%);
      height: auto;
      width: 100%;
  }
  
  .sub-sectionfd {
      color: #099D8D;
      font-family: 'Rubik';
      font-size: 22px;
  }
  
  .parrafofd {
      margin-top: 15px;
      color: #54585A;
      font-family: 'Open Sans';
      font-size: 16px;
  }
  
  .box-fortaleza {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      margin-left: 15px;
      margin-right: 20px;
  }
  
  .box-debilidades {
      margin-top: 30px;
      margin-bottom: 45px;
      text-align: center;
      margin-left: 15px;
      margin-right: 20px;
  }
  
  @media (min-width: 768px) {
      .sectionfd {
          display: flex;
          background-color: transparent;
      }
      .box-fortaleza {
          margin-top: 45px;
          margin-right: 22px;
          margin-left: 4rem;
          margin-bottom: 60px;
      }
      .box-debilidades {
          margin-top: 45px;
          margin-left: 22px;
          margin-right: 4rem;
          margin-bottom: 60px;
      }
      .fortalezas {
          border-top-right-radius: 30px 40px;
          background-color: #f1f1f1;
      }
      .debilidades {
          background-color: #f1f1f1;
          border-top-left-radius: 30px 40px;
      }
  }
  
  .sub-sectionqs {
      margin-top: 30px;
      text-align: center;
      margin-bottom: 30px;
      color: #099d8d;
  }
  
  .person-team {
      width: 100%;
      justify-content: center;
      display: grid;
      grid-template-rows: auto auto auto auto auto;
  }
  
  .img-left {
      width: 278px;
      height: 278px;
  }
  
  .fila-usuarios1 {
      display: grid;
      justify-content: center;
      grid-gap: 45px;
      grid-template-columns: 278px 439px;
  }
  
  .usuario1-col1 {
      display: flex;
      margin-top: auto;
      justify-content: flex-end;
  }
  
  .usuario1-col2 {
      flex-direction: column;
      text-align: left;
  }
  
  .fila-usuarios2 {
      margin-top: 60px;
      display: grid;
      justify-content: center;
      grid-gap: 45px;
      grid-template-columns: 439px 278px;
  }
  
  .usuario2-col1 {
      flex-direction: column;
      text-align: right;
  }
  
  .usuario2-col2 {
      display: flex;
      margin-top: auto;
      justify-content: flex-end;
  }
  
  .fila-usuarios3 {
      margin-top: 60px;
      display: grid;
      justify-content: center;
      grid-gap: 45px;
      grid-template-columns: 278px 439px;
  }
  
  .usuario3-col1 {
      display: flex;
      justify-content: flex-end;
      text-align: left;
  }
  
  .usuario3-col2 {
      flex-direction: column;
  }
  
  .fila-usuarios4 {
      margin-top: 60px;
      text-align: right;
      justify-content: center;
      display: grid;
      grid-gap: 45px;
      grid-template-columns: 439px 278px;
  }
  
  .usuario4-col1 {
      flex-direction: column;
      text-align: right;
  }
  
  .usuario4-col2 {
      display: flex;
  }
  
  .fila-usuarios5 {
      margin-top: 60px;
      margin-bottom: 60px;
      display: grid;
      justify-content: center;
      grid-gap: 45px;
      grid-template-columns: 278px 439px;
  }
  
  .usuario5-col1 {
      display: flex;
      justify-content: flex-end;
  }
  
  .usuario5-col2 {
      flex-direction: column;
      text-align: left;
  }
  
  .title-qs {
      margin-bottom: 15px;
      color: #000000;
      font-family: 'Open Sans-Regular';
      font-size: 20px;
      margin-top: 20px;
  }
  
  .presentacion {
      color: #54585a;
      font-family: 'Open Sans-Regular';
      font-size: 16px;
  }
  
  .icono {
      font-size: 20px;
      color: #099d8d;
      margin-right: 10px;
  }
  
  @media screen and (max-width: 780px) {
      .img-left {
          width: 180px;
          height: 180px;
      }
      .fila-usuarios1 {
          display: grid;
          grid-template-rows: 180px 190px;
          grid-template-columns: unset;
          grid-gap: 15px;
      }
      .usuario1-col1 {
          justify-content: center;
      }
      .usuario1-col2 {
          max-width: 300px;
          max-height: 180px;
          text-align: center;
      }
      .fila-usuarios2 div:nth-child(1) {
          order: 2;
      }
      .fila-usuarios2 div:nth-child(2) {
          order: 1;
      }
      .fila-usuarios2 {
          display: grid;
          grid-template-rows: 190px 180px;
          grid-template-columns: unset;
          grid-gap: 15px;
      }
      .usuario2-col1 {
          max-width: 300px;
          max-height: 180px;
          text-align: center;
      }
      .usuario2-col2 {
          justify-content: center;
      }
      .fila-usuarios3 {
          display: grid;
          grid-template-rows: 180px 190px;
          grid-template-columns: unset;
          grid-gap: 15px;
      }
      .usuario3-col1 {
          justify-content: center;
      }
      .usuario3-col2 {
          max-width: 300px;
          max-height: 180px;
          text-align: center;
      }
      .fila-usuarios4 div:nth-child(1) {
          order: 2;
      }
      .fila-usuarios4 div:nth-child(2) {
          order: 1;
      }
      .fila-usuarios4 {
          display: grid;
          grid-template-rows: 190px 180px;
          grid-template-columns: unset;
          grid-gap: 15px;
      }
      .usuario4-col1 {
          max-width: 300px;
          max-height: 180px;
          text-align: center;
      }
      .usuario4-col2 {
          justify-content: center;
      }
      .fila-usuarios5 {
          display: grid;
          grid-template-rows: 180px 190px;
          grid-template-columns: unset;
          grid-gap: 15px;
      }
      .usuario5-col1 {
          justify-content: center;
      }
      .usuario5-col2 {
          max-width: 300px;
          max-height: 180px;
          text-align: center;
      }
  }