@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --text-color: #54585A;
    --font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    display: grid;
    grid-template-rows: 60px 340px;
}

.container {
    display: grid;
    grid-template-columns: 65% 35%;
    background-color: #099d8d;
    font-weight: bold;
    color: #ffff;
    font-family: 'Rubik';
}

.teamName {
    display: flex;
    align-items: center;
    margin-left: 45px;
    font-size: 16px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 45px;
    font-size: 15px;
    color:#ffff;
}

.img-equipo {
    background-image: url('../img/equipo.jpg');
    background-repeat: center center;
    background-size: cover;
}


.form-center {
    min-width: 601px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 45px auto 120px auto;
}

.title {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    color: #099D8D;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
}

span {
    color: #099D8D;
}

.info-contact {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 16px;
}

.info-contact-2 {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 12px;
    text-align: center;
    padding-bottom: 48px;
}

.label {
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 14px;
}

.field {
    width: 96%;
    margin-top: 5px;
    padding: 2%;
    height: 30px;
    border: 0.5px solid #b8b8b9;
    margin-bottom: 15px;
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--text-color);
}

.area {
    width: 96%;
    height: 105px;
    margin-bottom: 30px;
}

.col-40 {
    justify-content: right;
    align-items: flex-end;
    width: 39.5%;
    margin-left: 44px;
}

.col-60 {
    justify-content: left;
    width: 60.6%;
}

.row {
    display: flex;
    width: 601px;
}

.button {
    color: #ffffff;
    background-color: #099D8D;
    font-family: var(--font-family);
    font-size: 16px;
    position: relative;
    float: right;
    width: 40%;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}
@media screen and (max-width: 780px) {
    .header {
        display: grid;
        grid-template-rows: 105px 195px;
    }
    .container {
        display: grid;
        grid-template-rows: 60px 45px;
        grid-template-columns: unset;
    }
    .teamName {
        justify-content: center;
        margin-left: 0px;
    }
    .option {
        margin-right: 0px;
        background-color: #14d9c4;
    }
    .img-equipo {
        background-image: url('../img/equipo2.jpg');
    }
    .form-center{
        padding:20px 20px;
    }
    .row{
        grid-template-columns: 1fr;
    }

    .col-60, .col-40, input[type=submit] {
        width: 100%;
        margin-top: 0;
        text-align: start;
    }
    /*.form-center {
        width: auto;
        padding: 10px;
        margin: 10px;
        max-width: 442px;
    }
    .field .label .area .row{
        flex-direction: column;
        padding: 0px;
        margin: 10px;
        max-width: 442px;
    }*/
}
