@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

.header {
    display: grid;
    grid-template-rows: 60px 360px;
}

.container {
    display: grid;
    grid-template-columns: 65% 35%;
    background-color: #099d8d;
    font-weight: bold;
    color: #ffff;
    font-family: 'Rubik';
}

.teamName {
    display: flex;
    align-items: center;
    margin-left: 45px;
    font-size: 16px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 45px;
    font-size: 15px;
}

.img-equipo {
    background-image: url('../img/equipo.jpg');
    background-repeat: center center;
    background-size: cover;
}

.frase-equipo {
    width: 441px;
    height: auto;
    color: #000000;
    background: rgba(255, 255, 255, 0.7);
    padding: 15px 30px;
    margin-top: 232px;
    margin-left: 45px;
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: bold;
}

@media screen and (max-width: 780px) {
    .header {
        display: grid;
        grid-template-rows: 105px 280px;
    }
    .container {
        display: grid;
        grid-template-rows: 60px 45px;
        grid-template-columns: unset;
    }
    .teamName {
        justify-content: center;
        margin-left: 0px;
    }
    .option {
        margin-right: 0px;
        background-color: #14d9c4;
    }
    .img-equipo {
        background-image: url('../img/equipo2.jpg');
    }
    .frase-equipo {
        margin: 232px 15px 15px 15px;
        padding: 15px;
        width: 85%;
        height: auto;
        font-size: 14px;
    }
}