* {
    margin: 0;
    padding: 0;
}

.sectionfd {
    display: inline-block;
    background-color: hsl(0, 0%, 95%);
    height: auto;
    width: 100%;
}

.sub-sectionfd {
    color: #099D8D;
    font-family: 'Rubic';
    font-size: 22px;
}

.parrafofd {
    margin-top: 15px;
    color: #54585A;
    font-family: 'OpenSans-Regular';
    font-size: 16px;
}

.box1 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 15px;
    margin-right: 20px;
}

.box2 {
    margin-top: 30px;
    margin-bottom: 45px;
    text-align: center;
    margin-left: 15px;
    margin-right: 20px;
}

.containerfd {
    display: flex;
}

@media (min-width: 768px) {
    .sectionfd {
        display: flex;
        background-color: transparent;
    }
    .box1 {
        margin-top: 45px;
        margin-right: 22px;
        margin-left: 4rem;
        margin-bottom: 60px;
    }
    .box2 {
        margin-top: 45px;
        margin-left: 22px;
        margin-right: 4rem;
        margin-bottom: 60px;
    }
    .foralezas {
        border-top-right-radius: 30px 40px;
        background-color: #f1f1f1;
    }
    .debilidades {
        background-color: #f1f1f1;
        border-top-left-radius: 30px 40px;
    }
}