@font-face {
    font-family: "Rubik Medium";
    src: url("Rubik-Medium.eot?") format("eot"), url("Rubik-Medium.woff") format("woff"), url("Rubik-Medium.ttf") format("truetype"), url("Rubik-Medium.svg#Rubik-Medium") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 65% 35%;
    background-color: #099d8d;
    height: 60px;
    font-weight: bold;
    color: #ffff;
    font-family: "Rubik Medium";
}

.teamName {
    display: flex;
    align-items: center;
    margin-left: 45px;
    font-size: 16px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 45px;
    font-size: 15px;
}

@media screen and (max-width: 780px) {
    .container {
        display: grid;
        grid-template-rows: 60px 60px;
        grid-template-columns: unset;
    }
    .teamName {
        justify-content: center;
        margin-left: 0px;
    }
    .option {
        margin-right: 0px;
        background-color: #14d9c4;
        height: 45px;
    }
}